<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.heyue.mapper.TsmOpencardInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.heyue.entity.TsmOpencardInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchant_no" jdbcType="VARCHAR" property="merchantNo" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="card_ species" jdbcType="VARCHAR" property="cardSpecies" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="opencard_time" jdbcType="TIMESTAMP" property="opencardTime" />
    <result column="iss_org_code" jdbcType="VARCHAR" property="issOrgCode" />
    <result column="terminal_no" jdbcType="VARCHAR" property="terminalNo" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, merchant_no, city_code, area_code, `card_ species`, user_id, card_no, opencard_time,
    iss_org_code, terminal_no, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tsm_opencard_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tsm_opencard_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.com.heyue.entity.TsmOpencardInfo" useGeneratedKeys="true">
    insert into tsm_opencard_info (merchant_no, city_code, area_code,
      `card_ species`, user_id, card_no,
      opencard_time, iss_org_code, terminal_no,
      createtime)
    values (#{merchantNo,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR},
      #{cardSpecies,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR},
      #{opencardTime,jdbcType=TIMESTAMP}, #{issOrgCode,jdbcType=VARCHAR}, #{terminalNo,jdbcType=VARCHAR},
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.com.heyue.entity.TsmOpencardInfo" useGeneratedKeys="true">
    insert into tsm_opencard_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="merchantNo != null">
        merchant_no,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="cardSpecies != null">
        `card_ species`,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="cardNo != null">
        card_no,
      </if>
      <if test="opencardTime != null">
        opencard_time,
      </if>
      <if test="issOrgCode != null">
        iss_org_code,
      </if>
      <if test="terminalNo != null">
        terminal_no,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="cardSpecies != null">
        #{cardSpecies,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="opencardTime != null">
        #{opencardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="issOrgCode != null">
        #{issOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="terminalNo != null">
        #{terminalNo,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.heyue.entity.TsmOpencardInfo">
    update tsm_opencard_info
    <set>
      <if test="merchantNo != null">
        merchant_no = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="cardSpecies != null">
        `card_ species` = #{cardSpecies,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="opencardTime != null">
        opencard_time = #{opencardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="issOrgCode != null">
        iss_org_code = #{issOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="terminalNo != null">
        terminal_no = #{terminalNo,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.heyue.entity.TsmOpencardInfo">
    update tsm_opencard_info
    set merchant_no = #{merchantNo,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      `card_ species` = #{cardSpecies,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      card_no = #{cardNo,jdbcType=VARCHAR},
      opencard_time = #{opencardTime,jdbcType=TIMESTAMP},
      iss_org_code = #{issOrgCode,jdbcType=VARCHAR},
      terminal_no = #{terminalNo,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selByToday"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tsm_opencard_info where
    TO_DAYS(createtime) = TO_DAYS(NOW())
  </select>
</mapper>