<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.heyue.mapper.TsmUserInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.heyue.entity.TsmUserInfo">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="merchant_no" jdbcType="VARCHAR" property="merchantNo" />
    <result column="third_user_id" jdbcType="VARCHAR" property="thirdUserId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, merchant_no, third_user_id, mobile, id_card, user_name, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tsm_user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tsm_user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="cn.com.heyue.entity.TsmUserInfo" useGeneratedKeys="true">
    insert into tsm_user_info (user_id, merchant_no, third_user_id, mobile,
      id_card, user_name, create_time
      )
    values (#{userId,jdbcType=VARCHAR},#{merchantNo,jdbcType=VARCHAR}, #{thirdUserId,jdbcType=VARCHAR},
            #{mobile,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="cn.com.heyue.entity.TsmUserInfo" useGeneratedKeys="true">
    insert into tsm_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="merchantNo != null">
        merchant_no,
      </if>
      <if test="thirdUserId != null">
        third_user_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="thirdUserId != null">
        #{thirdUserId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.heyue.entity.TsmUserInfo">
    update tsm_user_info
    <set>
      <if test="merchantNo != null">
        merchant_no = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="thirdUserId != null">
        third_user_id = #{thirdUserId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.heyue.entity.TsmUserInfo">
    update tsm_user_info
    set merchant_no = #{merchantNo,jdbcType=VARCHAR},
      third_user_id = #{thirdUserId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>